{% extends "base_generic.html" %}

{% block content %}
  <h1>Recipe List</h1>
  {% if recipe_list %}
  <ul class="list-inline justify-content-center">
    {% for recipe in recipe_list %}
      <li>
       <h3> <a href="{{ recipe.get_absolute_url }}">{{ recipe.title|title }}</a> </h3> ({{ recipe.difficulty_level }} difficulty level, {{recipe.cook_time }}, {{ recipe.diet.all|join:', ' }}, )
      </li> <br><br>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no recipes.</p>
    <p><a href="{% url 'recipe-create' %}">Add A Recipe</a> </p>
  {% endif %}
 <hr>
  <br>
  <p>Have a recipe you would like to share? <a href="{% url 'recipe-create' %}">Add a Recipe </a></p>
{% endblock %}