h3 a {
    color: #C25100;
    text-decoration: none;
}

body {
    padding-bottom: 100px;
}


h1 {
  font-weight: bold;
}

#.bg {
      background-blend-mode: lighten;
      background-repeat: no-repeat;
}

#.con{
      align-content: flext-start;
}

#recipes_pic {
    background-image: url("/static/img/faded_veggies.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/*if using middle_veggies make text white*/


 .nav-link:hover {
  text-decoration: underline overline dotted;
  text-decoration-thickness: 50%;
}

/*style="color: #d19b36" is how the navlinks are yellow see base_generic.html*/

/*
==========
page
==========
*/

/*body {
    height: 100%
}

.full-height {
  height: 100%;
}*/


/*
==========
Footer
==========
*/

.page-footer {
height: 4rem;
}

/*
#page {
    height: 100%; width: 100%
}*/
